* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 500ms ease;}
  
  body {
    background-image: url("/images/bg.png");
    }
    
    #header-nav {    
        border-radius: 0;
        border: 0;
    }
    
    #logo-img {
        background: url('/images/logo.PNG') no-repeat;
        width: 250px;
        height: 100px;
    }
    
    .navbar-header {    
        margin-bottom: -30px;
        margin-left: -10px;
      }


  
  .row {
    background-color: rgba(142, 179, 211, 0.4);
    text-align: center;
    padding: 2em 2em 0.5em;
    width: 90%;
    margin: 2em	auto;
    border-radius: 5px; 
}
 

    .row .form-group {
      margin: 0.5em 0; }
      .row .form-group label {
        display: block;
        text-align: left;
        font-weight: 600; }
      .row .form-group input, .row .form-group button {
        display: block;
        padding: 0.5em 0;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
        background-color: inherit;
        border: none;
        border-bottom: 1.5px solid #555;
        color: #eee; }
    
      .row .form-group button {
        background-color: #2a52be;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%; 
        border-radius: 8px;
    }
        .row .form-group button:hover, .row .form-group button:focus {
            opacity: 0.8; 
        }
        
    .row .footer h5 {
      margin-top: 1em; }
    .row .footer a {
      color: inherit;
    }
  
  
  
  @media screen and (max-width: 320px) {
    .row {
      padding-left: 1em;
      padding-right: 1em; }
      .row h1 {
        font-size: 1.5em !important; } }
  @media screen and (min-width: 900px) {
    .row {
      width: 50%; } }
  