* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
body{
   background-image: url("/images/bg.png");
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-size: cover;
   background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    position: fixed;
    width: 100%;
    color: antiquewhite;
    font-size: 4.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.welcome .icon{
    position: absolute;
    right: 100px;
    font-size: 1.5em;
    color: #A30000;
    line-height: 30px;
    backdrop-filter: blur(3px);
}

.welcome-body p::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: antiquewhite;
    border-radius: 5px;    
}

#logo-img {
    background: url('/images/logo.PNG') no-repeat;
    width: 250px;
    height: 100px;
    overflow: hidden;
    user-select: none;
}

.navigation{
    padding-bottom: 50px;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: antiquewhite;
    border-radius: 5px;
    transform: scale(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scale(1);
}

.navigation button{
    background: transparent;
    width: 120px;
    height: 30px;
    border: 2px solid #eee;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: antiquewhite;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 100px;
    transition: 0.5s;
    
}

.navigation button:hover{
    background-color: #162938;
    color: antiquewhite;
}

/*.btnRegister-popup{
    margin-right: 50px;
    margin-top: -10px;
}*/


.wrapper{
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    margin: 0 auto; 
    width: 400px;
    height: 480px;
    margin-top: 30px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform .2s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active-popup.welcome{
    transform: scale(0);
}

.wrapper.active{
    height: 520px;

}

.wrapper.active .icon-close{
    transform: scale(0);
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #162938;
    color: antiquewhite;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}

.wrapper .form-box.login{
    /*display: none;*/
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: transform .18s ease;
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2{ 
    color: #162938;
    text-align: center;
}

.imgContainer{
    text-align: center;
    
}

img.avatar{
    width: 30%;
    border-radius: 50%;
}

.form-group{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1.5px solid #555;
    margin: 30px 0;
}

.form-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: antiquewhite;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.form-group input:focus~label,
.form-group input:valid~label{
    top: -5px;
}

.form-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    padding: 0 35px 0 5px;
    color: antiquewhite;
}

.form-group .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: antiquewhite;
    line-height: 40px;
}

/*button:hover {
    opacity: 0.8;
}*/

.remember-me{
    font-size: .9em;
    color: antiquewhite;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-me label a{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-me a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

.remember-me a:hover{
    text-decoration: underline;
}

/*.form-group input[type = text], input[type = password]{
    background-color: inherit;
    border: none;
    border-bottom: 1.5px solid #555;
    display: block;
    padding: 0.5em 0;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #eee;
    font-weight: 500;
    border-radius: 8px;
    
}*/

.container{
    font-size: .9em;
    color: antiquewhite;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.container p a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

.container p a:hover{
    text-decoration: underline;
}

.loginBtn{
    margin-top: 30px;
    border-radius: 8px;
    background-color: #162938;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.registerBtn{
    margin-top: 30px;
    border-radius: 8px;
    background-color: #162938;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*#frgtPwd{
    float: right;
}

.register>a{
    text-align: center;
}

/*.cnclBtn{
    width: auto;
    padding: 10px 8px;
    background-color: #f44336;
}*/

@media screen and (max-width: 480px){
    span.register{
        display: block;
        float: none;
    }

    .cnclBtn{
        width: 100%;
    }

}

@media screen and (max-width: 320px) {
    .row {
      padding-left: 1em;
      padding-right: 1em; }
      .row h2 {
        font-size: 1.5em !important; } 
}


